# University Coding Academy (UCA) 2026

# Dependencies
node_modules/

# Build files
dist/
build/

# Environment variables
.env

# Log files
*.log

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
